<div nz-col nzSpan="24">
  <div nz-row nzGutter="16">
    <h1>Buildings</h1>
  </div>
  <div nz-row [nzGutter]="[24, 12]" nzJustify="end">
    <div nz-row nzSpan="24" nzJustify="end">
      <nz-select
        nzAllowClear
        nzPlaceHolder="Select a building type"
        [ngModel]="filters().type"
        (ngModelChange)="onFilterChange($event)"
      >
        @for (type of buildingTypes; track type) {
        <nz-option [nzValue]="type" [nzLabel]="type"></nz-option>
        }
      </nz-select>
    </div>

    <div nz-col nzSpan="24">
      <nz-table #table [nzData]="buildings()">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Tags</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          @for (building of table.data; track building.id) {
          <tr>
            <td>{{ building.id }}</td>
            <td>{{ building.name }}</td>
            <td>{{ building.tags }}</td>
            <td>{{ building.buildingType }}</td>
          </tr>
          }
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
